@font-face {
  font-family: "Puffin-Display-Soft-ExBd";
  src: url("../static/fonts/fonnts.com-Puffin_Display_Soft_ExBd.otf")
    format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
